html {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

form {
    height: 100vh;
}
fieldset {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    margin-left: 40%;
    margin-right: 40%;
    padding: 0;
}

input[type=email] {
    margin-top: 1%;
    margin-bottom: 1%;
    height: 10%;
    border-radius: 2px;
    background-color: #E9ECEF;
}

input[type=email]:hover {
    background-color: #DEE2E6;;
}

#bt_enviar {
    background-color: blue;
    color: #1971C2;
    height: 10%;
    border-radius: 2px;
}

#bt_enviar:hover {
    background-color: #1864AB;
}

#bt_enviar:focus {
    background-color: #FFFFFF;
    border-color: #000000;
}