@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    height: 100vh;
    background: rgb(183,234,235);
    background: linear-gradient(0deg, rgba(183,234,235,1) 0%, rgba(245,237,220,1) 100%);
}

h1 {
    text-align: center;
    color: blue;
}

nav {
    background-color: white;
    display: flex;
    justify-content: center;
}

h2 {
    color: blue;
}

main {
    width: 60%;
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-style: dashed;
    border-color: black;
    background: rgb(183,234,235);
    background: linear-gradient(0deg, rgba(183,234,235,1) 0%, rgba(245,237,220,1) 100%);
    margin-top: 1%;
}